#react_board

:ruby
  config = {
    api: {
      boardURL: react_board_path(@board, format: :json)
    }
  }

:javascript
  window.flightPlanConfig = #{raw config.to_json};

= javascript_pack_tag 'application'
