= form_with(url: update_multiple_ideas_path(status), method: :post, html: {id: "#{status}_ideas_form"}) do |f|
  = f.hidden_field :idea_ids, data: { sortable_target: 'ideaIds' }, id: "#{status}_idea_ids"