- flash_classes = { alert: 'bg-yellow-300 text-yellow-900', notice: 'bg-green-500 text-white' }
- flash.to_h.symbolize_keys.slice(:alert, :notice).each do |type, message|
  %p.text-white.py-1.text-center{ class: flash_classes[type] }
    = message

.text-center.p-6
  %h1.text-3xl.mb-7.font-bold Flight Plan
  = button_to user_github_omniauth_authorize_path(app: @use_app_creds.presence), method: :post, class: 'bg-blue-500 text-white font-bold rounded text-lg px-6 py-3 hover:bg-blue-700 focus:bg-blue-700' do
    Sign in with GitHub
    = @use_app_creds ? 'App' : ''
