#react_board

:ruby
  config = {
    api: {
      boardURL: board_path(@board, format: :json),
      nextActionsURL: board_next_actions_path(@board, format: :json),
      createTicketMoveURL: board_ticket_moves_path(@board, ':boardTicketId', format: :json)
    },
    boards: @boards.map do |board|
      board.slice(:id, :name).merge(
        url: board_path(board),
        dashboardURL: board_pull_requests_path(board),
        current: @board == board
      )
    end
  }

:javascript
  window.flightPlanConfig = #{raw config.to_json};

= javascript_include_tag polyfill_url
= javascript_pack_tag 'application'
