#react_board

:ruby
  config = {
    features: Flipper.features.each_with_object({}) do |feature, hash|
      hash[feature.name] = feature.enabled?(current_user)
    end,
    currentBoardRepos: @board.board_repos.map {|board_repo| { id: board_repo.id, name: board_repo.name }},
    currentBoardSwimlanes: @board.swimlanes.map {|swimlane| { name: swimlane.name }},
    currentUser: current_user.slice(:id, :username),
    api: {
      logoutURL: destroy_user_session_path,
      boardURL: board_path(@board, format: :json),
      nextActionsURL: board_next_actions_path(@board, format: :json),
      createTicketMoveURL: board_ticket_moves_path(@board, ':boardTicketId', format: :json),
      createTicketURL: board_tickets_path(@board, format: :json)
    },
    boards: @boards.map do |board|
      board.slice(:id, :name).merge(
        url: board_path(board),
        dashboardURL: board_pull_requests_path(board),
        current: @board == board
      )
    end
  }

:javascript
  window.flightPlanConfig = #{raw config.to_json};

= javascript_include_tag polyfill_url

- if use_v2_ui?
  = javascript_pack_tag 'application_v2'
- else
  = javascript_pack_tag 'application'
