.board-header {
  padding: 4px;
}

.board {
  border-top: 1px solid #e8eff9;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .swimlane {
    width: 250px;
    padding: 6px;
    border-left: 3px solid #e8eff9;
    flex: 0 0 auto;

    .swimlane-header {
      height: 33px;
      border-bottom: 2px solid #e8eff9;
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    .body {
      overflow-y: auto;
      height: calc(100vh - 90px);
      padding: 0.5em 0.1em;

      .panel-heading {
        overflow: hidden;
      }
    }
  }

  .issue-number {
    padding-right: 4px;
  }

  .ui.list {
    margin: 0;

    > .item {
      padding-left: 1em;
      padding-left: 1em;
    }
  }
}

#applicationModal .modal-content img {
  max-width: 520px;
}
