.board-header {
  padding: 4px;

  .dropdown + .btn,
  .btn + .dropdown {
    margin-right: 6px;
  }
}

.board {
  border-top: 1px solid #e8eff9;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .swimlane {
    width: 250px;
    padding: 6px;
    border-left: 3px solid #e8eff9;
    flex: 0 0 auto;

    .header {
      font-size: medium;
      text-align: center;
      height: 33px;
    }

    .body {
      overflow-y: auto;
      height: calc(100vh - 90px);

      .panel-heading {
        overflow: hidden;
      }
    }
  }

  .remote-details {
    .issue-number {
      padding-right: 4px;
    }
  }

  .issue-title {
    display: block;
  }

  .swimlane-duration {
    margin-top: 5px;
    font-size: 12px;
  }
}

.btn-caution {
  @include button-variant($btn-warning-bg, $btn-warning-color, $btn-warning-border);

  &:focus,
  &:hover,
  &:active,
  &:active:focus,
  .open > &.dropdown-toggle {
    background-color: $btn-warning-color;
  }
}

#applicationModal .modal-content img {
  max-width: 520px;
}

.open-pull-requests {
  .dropdown-menu {
    width: 600px;
  }

  li {
    position: relative;
  }

  .text-primary {
    margin-right: 2px;
  }

  .action-btn {
    position: absolute;
    top: 2px;
    right: 20px;
  }
}

// From: https://github.com/primer/octicons/blob/master/lib/octicons_node/index.scss
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;

  &.is-merged {
    color: #6f42c1;
  }
}
