!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlightPlan
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{"data-action" => action_name, "data-controller" => controller_path.gsub('/', '__')}
    .ui.container
      = yield

    #applicationModal.ui.modal
      %i.close.icon
      .header
      .content Test
      .actions
        %button.ui.button Cancel
        %button.ui.button OK
